## Preprocessing our dataset before building a machine learning model:

Standard Imports:

In [1]:
import pandas as pd
import numpy as np

Importing .csv file using pandas .read_csv function:

In [2]:
trek_data = pd.read_csv("/Users/yash/PycharmProject/Group-Reccommendation-For-Trek-Using-Social-Networks/Data/trekkers_df.csv")

trek_data

,Unnamed: 0,Email-ID,Name,Height,Weight,Age,Gender,City,Locality,Languages,college,Profession,Have you gone Trekking,Preferred Days,Number of Treks,Difficulty of Trek
0,0,xalbers@peukert.net,Anatoli Faust-Becker,198,99,77,M,Nagpur,Evergreen Society,Marathi,SPPU,Biologists,N,Monday,20,Intermediate
1,1,pieperlambert@gmx.de,Dr. Janina Schomber MBA.,162,110,29,None,Nashik,Midori Towers,Hindi,SPPU,lawyer,Y,Saturday,4,Experienced
2,2,angeliquebutte@martin.de,Belinda Bachmann MBA.,185,77,91,M,Mumbai,Midori Towers,Urdu,VIT,Opticians,Y,Sunday,17,Experienced
3,3,hansjoerg80@ullmann.org,Hans-Rainer Tlustek,173,106,36,None,Pune,Evergreen Society,English,SPPU,Pathologists,N,Saturday,14,Intermediate
4,4,xhein@web.de,Kai-Uwe Wesack,174,67,22,M,Mumbai,Krishna Park,English,MIT-WPU,Actors,N,Monday,7,Beginner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,spiessbabette@googlemail.com,Josip Naser,181,79,91,None,Kolhapur,Krishna Park,Urdu,PICT,builder,Y,Friday,18,Experienced
9996,9996,faruk41@bachmann.de,Hedi Hübel,169,82,97,M,Nagpur,Krishna Kamal,Gujarati,SPPU,Economists,Y,Monday,18,Intermediate
9997,9997,qhess@heydrich.org,Bernd-Dieter Grein Groth,183,101,27,None,Kolhapur,Evergreen Society,Marathi,PICT,Dietitians,Y,Saturday,3,Beginner
9998,9998,useifert@kuehnert.com,Hans-Jürgen Heß,162,75,30,M,Pune,Sky-One,Hindi,MIT-ADT,painter,N,Sunday,16,Intermediate
9999,9999,lraedel@yahoo.de,Erna Trupp,174,99,49,None,Pune,Evergreen Society,English,PCCOE,Writers,Y,Friday,14,Experienced

Checking if our dataset has any missing values:

In [3]:
trek_data.isna().sum()

Unnamed: 0                0
Email-ID                  0
Name                      0
Height                    0
Weight                    0
Age                       0
Gender                    0
City                      0
Locality                  0
Languages                 0
college                   0
Profession                0
Have you gone Trekking    0
Preferred Days            0
Number of Treks           0
Difficulty of Trek        0
dtype: int64

Identifying different types of datatypes in our dataset

In [5]:
trek_data.dtypes

Unnamed: 0                 int64
Email-ID                  object
Name                      object
Height                     int64
Weight                     int64
Age                        int64
Gender                    object
City                      object
Locality                  object
Languages                 object
college                   object
Profession                object
Have you gone Trekking    object
Preferred Days            object
Number of Treks            int64
Difficulty of Trek        object
dtype: object

In [6]:
trek_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              10000 non-null  int64
 1   Email-ID                10000 non-null  object
 2   Name                    10000 non-null  object
 3   Height                  10000 non-null  int64
 4   Weight                  10000 non-null  int64
 5   Age                     10000 non-null  int64
 6   Gender                  10000 non-null  object
 7   City                    10000 non-null  object
 8   Locality                10000 non-null  object
 9   Languages               10000 non-null  object
 10  college                 10000 non-null  object
 11  Profession              10000 non-null  object
 12  Have you gone Trekking  10000 non-null  object
 13  Preferred Days          10000 non-null  object
 14  Number of Treks         10000 non-null  int64
 15  Difficulty of Trek      10000 non-null  object
dtypes: int64(5), object(11)
memory usage: 1.2+ MB

note: Here we need to convert our categorical data to numerical data for implementing our ML model

In [4]:
trek_data.describe()

        Unnamed: 0        Height        Weight           Age  Number of Treks
count  10000.00000  10000.000000  10000.000000  10000.000000     10000.000000
mean    4999.50000    179.552000     79.816500     50.064300         9.953600
std     2886.89568     11.576169     17.596528     29.287102         6.045635
min        0.00000    160.000000     50.000000      0.000000         0.000000
25%     2499.75000    170.000000     65.000000     25.000000         5.000000
50%     4999.50000    180.000000     79.000000     50.000000        10.000000
75%     7499.25000    190.000000     95.000000     76.000000        15.000000
max     9999.00000    199.000000    110.000000    100.000000        20.000000

In [ ]:
# turn categories into numbers:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Email-ID", "Name", "Gender", "City", "Locality", "Languages", "college",
                        "Profession", "Have you gone Trekking", "Preferred Days", "Difficulty of Trek"]

one_hot = OneHotEncoder()

transformer = ColumnTransformer([
    ("one_hot", one_hot, categorical_features)],
    remainder="passthrough"
)