In [20]:
import pandas as pd
import numpy as np

In [21]:
trek_data = pd.read_csv("../Data/trekkers_df_with_bias_copy.csv")
# drop data where Email-ID is duplicated
trek_data = trek_data.drop_duplicates(subset = "Email-ID")
# reset index
trek_data = trek_data.reset_index(drop = True)
trek_data["trekker_id"] = trek_data.index
# split data into train and test
from sklearn.model_selection import train_test_split
train, test = train_test_split(trek_data, test_size = 0.2, random_state = 42)
trek_data = train
# drop nan rows
trek_data = trek_data.dropna()
trek_data

,Email-ID,Name,Height,Weight,Age,Gender,City,Locality,Languages,college,Profession,Have you gone Trekking,Preferred Days,Number of Treks,Difficulty of Trek,trekker_id
9516,olav14@hotmail.de,Rudolf Gierschner-Mude,164,65,26,Female,Pune,Kothrud,['Hindi'],PICT,Student,N,['Saturday' 'Sunday' 'Monday'],0,Experienced,9516
2168,raymondeigenwillig@stey.com,Werner Gute,148,69,35,Male,Mumbai,Bandra,['Marathi'],VIT,Student,N,['Sunday' 'Monday' 'Saturday' 'Thursday' 'Tues...,0,Experienced,2168
3460,ewasegebahn@birnbaum.de,Franka Pruschke,153,83,15,Female,Pune,Shivaji Nagar,['Marathi' 'Other'],VIT,Student,N,['Saturday' 'Wednesday'],0,Experienced,3460
5135,tweinhold@googlemail.com,Serge Lange-Gnatz,162,62,42,Male,Pune,Kothrud,['Marathi' 'Other'],SPPU,Student,Y,['Sunday'],4,Beginner,5135
9552,reinhold25@aol.de,Univ.Prof. Katherina Hande MBA.,158,82,37,Female,Pune,Aundh,['Hindi'],VIT,Working,N,['Monday' 'Friday' 'Sunday'],0,Beginner,9552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,wolf-ruedigergumprich@becker.org,Catrin Caspar B.Sc.,153,74,26,Male,Nashik,Sadar,['Marathi'],PCCOE,Student,N,['Friday' 'Sunday' 'Saturday'],0,Beginner,5734
5191,uwinkler@auch.org,Giuseppe Jäkel-Scholz,158,73,29,Female,Kolhapur,Kagal,['Marathi' 'Hindi'],MIT-ADT,Student,Y,['Friday' 'Sunday'],4,Beginner,5191
5390,tpaffrath@hotmail.de,Franjo Koch B.A.,147,63,41,Male,Pune,Kothrud,['Marathi' 'Hindi'],VIT,Student,Y,['Wednesday' 'Sunday' 'Saturday'],0,Intermediate,5390
860,rradisch@scholz.de,Nicolaus Harloff,146,61,24,Male,Mumbai,Andheri,['Marathi' 'Hindi' 'English'],MIT-WPU,Student,Y,['Sunday' 'Monday'],3,Intermediate,860
7270,birgidstriebitz@yahoo.de,Maritta Krause B.Sc.,152,85,37,Female,Mumbai,Andheri,['Hindi'],MIT-WPU,Student,Y,['Sunday' 'Saturday'],2,Intermediate,7270

In [22]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

# for categorical_data in ["Gender","City","Locality","Have you gone Trekking","Profession","college"]:
#     # use multi-label binarizer to convert categorical data to binary
#     mlb = MultiLabelBinarizer()
#     mlb.fit(trek_data[categorical_data])
#     # transform the data
#     transformed_data = mlb.transform(trek_data[categorical_data])
#     # create a dataframe from the transformed data
#     transformed_df = pd.DataFrame(transformed_data, columns = mlb.classes_)
#     # add the transformed data to the original dataframe
#     trek_data = pd.concat([trek_data, transformed_df], axis = 1)
#     # drop the original categorical data
#     trek_data = trek_data.drop(categorical_data, axis = 1)

# trek_data

In [23]:
# use pd.get_dummies to convert categorical data to binary
trek_data = pd.get_dummies(trek_data, columns = ["Gender","City","Locality","Have you gone Trekking","Profession","college"])
trek_data

,Email-ID,Name,Height,Weight,Age,Languages,Preferred Days,Number of Treks,Difficulty of Trek,trekker_id,...,Have you gone Trekking_Y,Profession_Student,Profession_Unemployed,Profession_Working,college_MIT-ADT,college_MIT-WPU,college_PCCOE,college_PICT,college_SPPU,college_VIT
9516,olav14@hotmail.de,Rudolf Gierschner-Mude,164,65,26,['Hindi'],['Saturday' 'Sunday' 'Monday'],0,Experienced,9516,...,0,1,0,0,0,0,0,1,0,0
2168,raymondeigenwillig@stey.com,Werner Gute,148,69,35,['Marathi'],['Sunday' 'Monday' 'Saturday' 'Thursday' 'Tues...,0,Experienced,2168,...,0,1,0,0,0,0,0,0,0,1
3460,ewasegebahn@birnbaum.de,Franka Pruschke,153,83,15,['Marathi' 'Other'],['Saturday' 'Wednesday'],0,Experienced,3460,...,0,1,0,0,0,0,0,0,0,1
5135,tweinhold@googlemail.com,Serge Lange-Gnatz,162,62,42,['Marathi' 'Other'],['Sunday'],4,Beginner,5135,...,1,1,0,0,0,0,0,0,1,0
9552,reinhold25@aol.de,Univ.Prof. Katherina Hande MBA.,158,82,37,['Hindi'],['Monday' 'Friday' 'Sunday'],0,Beginner,9552,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,wolf-ruedigergumprich@becker.org,Catrin Caspar B.Sc.,153,74,26,['Marathi'],['Friday' 'Sunday' 'Saturday'],0,Beginner,5734,...,0,1,0,0,0,0,1,0,0,0
5191,uwinkler@auch.org,Giuseppe Jäkel-Scholz,158,73,29,['Marathi' 'Hindi'],['Friday' 'Sunday'],4,Beginner,5191,...,1,1,0,0,1,0,0,0,0,0
5390,tpaffrath@hotmail.de,Franjo Koch B.A.,147,63,41,['Marathi' 'Hindi'],['Wednesday' 'Sunday' 'Saturday'],0,Intermediate,5390,...,1,1,0,0,0,0,0,0,0,1
860,rradisch@scholz.de,Nicolaus Harloff,146,61,24,['Marathi' 'Hindi' 'English'],['Sunday' 'Monday'],3,Intermediate,860,...,1,1,0,0,0,1,0,0,0,0
7270,birgidstriebitz@yahoo.de,Maritta Krause B.Sc.,152,85,37,['Hindi'],['Sunday' 'Saturday'],2,Intermediate,7270,...,1,1,0,0,0,1,0,0,0,0

In [24]:
# for difficulty level, we need to convert the data to numeric
trek_data["Difficulty of Trek"] = trek_data["Difficulty of Trek"].replace({"Beginner":1,"Intermediate":2,"Experienced":3})

In [25]:
trek_data.head()

,Email-ID,Name,Height,Weight,Age,Languages,Preferred Days,Number of Treks,Difficulty of Trek,trekker_id,...,Have you gone Trekking_Y,Profession_Student,Profession_Unemployed,Profession_Working,college_MIT-ADT,college_MIT-WPU,college_PCCOE,college_PICT,college_SPPU,college_VIT
9516,olav14@hotmail.de,Rudolf Gierschner-Mude,164,65,26,['Hindi'],['Saturday' 'Sunday' 'Monday'],0,3,9516,...,0,1,0,0,0,0,0,1,0,0
2168,raymondeigenwillig@stey.com,Werner Gute,148,69,35,['Marathi'],['Sunday' 'Monday' 'Saturday' 'Thursday' 'Tues...,0,3,2168,...,0,1,0,0,0,0,0,0,0,1
3460,ewasegebahn@birnbaum.de,Franka Pruschke,153,83,15,['Marathi' 'Other'],['Saturday' 'Wednesday'],0,3,3460,...,0,1,0,0,0,0,0,0,0,1
5135,tweinhold@googlemail.com,Serge Lange-Gnatz,162,62,42,['Marathi' 'Other'],['Sunday'],4,1,5135,...,1,1,0,0,0,0,0,0,1,0
9552,reinhold25@aol.de,Univ.Prof. Katherina Hande MBA.,158,82,37,['Hindi'],['Monday' 'Friday' 'Sunday'],0,1,9552,...,0,0,0,1,0,0,0,0,0,1

In [26]:
# Languages column is of type object
# convert it to a list
# remove [ and ] from the string
# split the string by comma

# replace ' with empty string
trek_data["Languages"] = trek_data["Languages"].str.replace("'","")
trek_data["Preferred Days"] = trek_data["Preferred Days"].str.replace("'","")

trek_data["Languages"] = trek_data["Languages"].apply(lambda x: (x[1:-1].split()))
trek_data["Preferred Days"] = trek_data["Preferred Days"].apply(lambda x: (x[1:-1].split()))

In [27]:
# dictionary of multipliers

multipliers = {
    "Age": 2,
    "Gender" : 3,
    "City" : 5,
    "Locality" : 1.5,
    "Have you gone Trekking" : 5,
    "Profession" : 1.5,
    "college" : 2.5,
    "Difficulty of Trek" : 4,
    "Languages" : 5,
    "Preferred Days" : 5,
    "BMI" : 1.25,
}

In [28]:
# apply multi-label binarizer for languages and preferred days



# fit the data
mlb.fit(trek_data["Languages"])


# transform the data
languages = mlb.transform(trek_data["Languages"])

# apply the multiplier
languages = languages * multipliers["Languages"]

# use same index as original dataframe
languages = pd.DataFrame(languages, index = trek_data.index)

# drop the column "Other" if it exists
if "Other" in languages.columns:
    languages = languages.drop("Other",axis = 1)

languages

      0  1  2  3
9516  0  5  0  0
2168  0  0  5  0
3460  0  0  5  5
5135  0  0  5  5
9552  0  5  0  0
...  .. .. .. ..
5734  0  0  5  0
5191  0  5  5  0
5390  0  5  5  0
860   5  5  5  0
7270  0  5  0  0

[7989 rows x 4 columns]

In [29]:
# apply multi-label binarizer for preferred days
# fit the data
mlb.fit(trek_data["Preferred Days"])

# transform the data
preferred_days = mlb.transform(trek_data["Preferred Days"])

# apply the multiplier
preferred_days = preferred_days * multipliers["Preferred Days"]

# convert the array to a dataframe
preferred_days = pd.DataFrame(preferred_days,columns = mlb.classes_)
# drop the column "Other" if it exists
if "Other" in preferred_days.columns:
    preferred_days = preferred_days.drop("Other",axis = 1)

# use same index as original dataframe
preferred_days = preferred_days.set_index(trek_data.index)

preferred_days

      Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
9516       0       5         5       5         0        0          0
2168       0       5         5       5         5        5          0
3460       0       0         5       0         0        0          5
5135       0       0         0       5         0        0          0
9552       5       5         0       5         0        0          0
...      ...     ...       ...     ...       ...      ...        ...
5734       5       0         5       5         0        0          0
5191       5       0         0       5         0        0          0
5390       0       0         5       5         0        0          5
860        0       5         0       5         0        0          0
7270       0       0         5       5         0        0          0

[7989 rows x 7 columns]

In [30]:
# merge the dataframes
trek_data = pd.concat([trek_data,languages,preferred_days],axis = 1)

# drop the columns Languages and Preferred Days
trek_data = trek_data.drop(["Languages","Preferred Days"],axis = 1)

trek_data

,Email-ID,Name,Height,Weight,Age,Number of Treks,Difficulty of Trek,trekker_id,Gender_Female,Gender_Male,...,1,2,3,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
9516,olav14@hotmail.de,Rudolf Gierschner-Mude,164,65,26,0,3,9516,1,0,...,5,0,0,0,5,5,5,0,0,0
2168,raymondeigenwillig@stey.com,Werner Gute,148,69,35,0,3,2168,0,1,...,0,5,0,0,5,5,5,5,5,0
3460,ewasegebahn@birnbaum.de,Franka Pruschke,153,83,15,0,3,3460,1,0,...,0,5,5,0,0,5,0,0,0,5
5135,tweinhold@googlemail.com,Serge Lange-Gnatz,162,62,42,4,1,5135,0,1,...,0,5,5,0,0,0,5,0,0,0
9552,reinhold25@aol.de,Univ.Prof. Katherina Hande MBA.,158,82,37,0,1,9552,1,0,...,5,0,0,5,5,0,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,wolf-ruedigergumprich@becker.org,Catrin Caspar B.Sc.,153,74,26,0,1,5734,0,1,...,0,5,0,5,0,5,5,0,0,0
5191,uwinkler@auch.org,Giuseppe Jäkel-Scholz,158,73,29,4,1,5191,1,0,...,5,5,0,5,0,0,5,0,0,0
5390,tpaffrath@hotmail.de,Franjo Koch B.A.,147,63,41,0,2,5390,0,1,...,5,5,0,0,0,5,5,0,0,5
860,rradisch@scholz.de,Nicolaus Harloff,146,61,24,3,2,860,0,1,...,5,5,0,0,5,0,5,0,0,0
7270,birgidstriebitz@yahoo.de,Maritta Krause B.Sc.,152,85,37,2,2,7270,1,0,...,5,0,0,0,0,5,5,0,0,0

In [31]:
trek_data

,Email-ID,Name,Height,Weight,Age,Number of Treks,Difficulty of Trek,trekker_id,Gender_Female,Gender_Male,...,1,2,3,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
9516,olav14@hotmail.de,Rudolf Gierschner-Mude,164,65,26,0,3,9516,1,0,...,5,0,0,0,5,5,5,0,0,0
2168,raymondeigenwillig@stey.com,Werner Gute,148,69,35,0,3,2168,0,1,...,0,5,0,0,5,5,5,5,5,0
3460,ewasegebahn@birnbaum.de,Franka Pruschke,153,83,15,0,3,3460,1,0,...,0,5,5,0,0,5,0,0,0,5
5135,tweinhold@googlemail.com,Serge Lange-Gnatz,162,62,42,4,1,5135,0,1,...,0,5,5,0,0,0,5,0,0,0
9552,reinhold25@aol.de,Univ.Prof. Katherina Hande MBA.,158,82,37,0,1,9552,1,0,...,5,0,0,5,5,0,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,wolf-ruedigergumprich@becker.org,Catrin Caspar B.Sc.,153,74,26,0,1,5734,0,1,...,0,5,0,5,0,5,5,0,0,0
5191,uwinkler@auch.org,Giuseppe Jäkel-Scholz,158,73,29,4,1,5191,1,0,...,5,5,0,5,0,0,5,0,0,0
5390,tpaffrath@hotmail.de,Franjo Koch B.A.,147,63,41,0,2,5390,0,1,...,5,5,0,0,0,5,5,0,0,5
860,rradisch@scholz.de,Nicolaus Harloff,146,61,24,3,2,860,0,1,...,5,5,0,0,5,0,5,0,0,0
7270,birgidstriebitz@yahoo.de,Maritta Krause B.Sc.,152,85,37,2,2,7270,1,0,...,5,0,0,0,0,5,5,0,0,0

In [32]:
# create BMI column
trek_data["BMI"] = trek_data["Weight"] / (trek_data["Height"] / 100) ** 2

In [33]:
# drop the columns that are not required 
trek_data = trek_data.drop(columns = ["Name", "Email-ID", "Weight", "Height","trekker_id"])

In [34]:
# dictionary of multipliers

multipliers = {
    "Age": 4,
    "Gender" : 3,
    "City" : 5,
    "Locality" : 1.5,
    "Have you gone Trekking" : 5,
    "Profession" : 1.5,
    "college" : 2.5,
    "Difficulty of Trek" : 4,
    "Languages" : 5,
    "Preferred Days" : 5,
    "BMI" : 1.10,
}

In [35]:
trek_data

,Age,Number of Treks,Difficulty of Trek,Gender_Female,Gender_Male,City_Kolhapur,City_Mumbai,City_Nagpur,City_Nashik,City_Pune,...,2,3,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,BMI
9516,26,0,3,1,0,0,0,0,0,1,...,0,0,0,5,5,5,0,0,0,24.167162
2168,35,0,3,0,1,0,1,0,0,0,...,5,0,0,5,5,5,5,5,0,31.501096
3460,15,0,3,1,0,0,0,0,0,1,...,5,5,0,0,5,0,0,0,5,35.456448
5135,42,4,1,0,1,0,0,0,0,1,...,5,5,0,0,0,5,0,0,0,23.624447
9552,37,0,1,1,0,0,0,0,0,1,...,0,0,5,5,0,5,0,0,0,32.847300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,26,0,1,0,1,0,0,0,1,0,...,5,0,5,0,5,5,0,0,0,31.611773
5191,29,4,1,1,0,1,0,0,0,0,...,5,0,5,0,0,5,0,0,0,29.242109
5390,41,0,2,0,1,0,0,0,0,1,...,5,0,0,0,5,5,0,0,5,29.154519
860,24,3,2,0,1,0,1,0,0,0,...,5,0,0,5,0,5,0,0,0,28.617001
7270,37,2,2,1,0,0,1,0,0,0,...,0,0,0,0,5,5,0,0,0,36.790166

In [36]:
# apply the multipliers
for column in trek_data.columns:
    if column in multipliers:
        trek_data[column] = trek_data[column] * multipliers[column.split("_")[0]]

In [37]:
# min-max normalization
from sklearn.preprocessing import MinMaxScaler

# create a min-max scaler object
scaler = MinMaxScaler()

# fit and transform the data
trek_data[["Age", "BMI"]] = scaler.fit_transform(trek_data[["Age", "BMI"]])

trek_data

,Age,Number of Treks,Difficulty of Trek,Gender_Female,Gender_Male,City_Kolhapur,City_Mumbai,City_Nagpur,City_Nashik,City_Pune,...,2,3,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,BMI
9516,0.262295,0,12,1,0,0,0,0,0,1,...,0,0,0,5,5,5,0,0,0,0.303871
2168,0.409836,0,12,0,1,0,1,0,0,0,...,5,0,0,5,5,5,5,5,0,0.483035
3460,0.081967,0,12,1,0,0,0,0,0,1,...,5,5,0,0,5,0,0,0,5,0.579662
5135,0.524590,4,4,0,1,0,0,0,0,1,...,5,5,0,0,0,5,0,0,0,0.290613
9552,0.442623,0,4,1,0,0,0,0,0,1,...,0,0,5,5,0,5,0,0,0,0.515922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,0.262295,0,4,0,1,0,0,0,1,0,...,5,0,5,0,5,5,0,0,0,0.485738
5191,0.311475,4,4,1,0,1,0,0,0,0,...,5,0,5,0,0,5,0,0,0,0.427849
5390,0.508197,0,8,0,1,0,0,0,0,1,...,5,0,0,0,5,5,0,0,5,0.425709
860,0.229508,3,8,0,1,0,1,0,0,0,...,5,0,0,5,0,5,0,0,0,0.412578
7270,0.442623,2,8,1,0,0,1,0,0,0,...,0,0,0,0,5,5,0,0,0,0.612243

In [38]:
from sklearn.cluster import KMeans

# create a kmeans object
kmeans = KMeans(n_clusters = 5)

# fit the data
kmeans.fit(trek_data)

# get the cluster labels
labels = kmeans.predict(trek_data)

# get the cluster centroids
centroids = kmeans.cluster_centers_

# create a new column in the dataframe
trek_data["cluster"] = labels

trek_data

/home/jxtin/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/home/jxtin/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

,Age,Number of Treks,Difficulty of Trek,Gender_Female,Gender_Male,City_Kolhapur,City_Mumbai,City_Nagpur,City_Nashik,City_Pune,...,3,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,BMI,cluster
9516,0.262295,0,12,1,0,0,0,0,0,1,...,0,0,5,5,5,0,0,0,0.303871,3
2168,0.409836,0,12,0,1,0,1,0,0,0,...,0,0,5,5,5,5,5,0,0.483035,1
3460,0.081967,0,12,1,0,0,0,0,0,1,...,5,0,0,5,0,0,0,5,0.579662,3
5135,0.524590,4,4,0,1,0,0,0,0,1,...,5,0,0,0,5,0,0,0,0.290613,2
9552,0.442623,0,4,1,0,0,0,0,0,1,...,0,5,5,0,5,0,0,0,0.515922,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,0.262295,0,4,0,1,0,0,0,1,0,...,0,5,0,5,5,0,0,0,0.485738,4
5191,0.311475,4,4,1,0,1,0,0,0,0,...,0,5,0,0,5,0,0,0,0.427849,2
5390,0.508197,0,8,0,1,0,0,0,0,1,...,0,0,0,5,5,0,0,5,0.425709,3
860,0.229508,3,8,0,1,0,1,0,0,0,...,0,0,5,0,5,0,0,0,0.412578,2
7270,0.442623,2,8,1,0,0,1,0,0,0,...,0,0,0,5,5,0,0,0,0.612243,3

In [39]:
# show random records from each cluster
trek_data.groupby("cluster").sample(5)

,Age,Number of Treks,Difficulty of Trek,Gender_Female,Gender_Male,City_Kolhapur,City_Mumbai,City_Nagpur,City_Nashik,City_Pune,...,3,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,BMI,cluster
8504,0.508197,2,8,1,0,0,1,0,0,0,...,0,5,5,5,5,0,0,5,0.621405,0
479,0.163934,2,4,0,1,0,0,0,0,1,...,0,5,5,5,5,0,0,5,0.338722,0
2293,0.147541,3,8,0,1,0,0,1,0,0,...,0,5,5,5,5,0,0,5,0.370576,0
4910,0.557377,0,4,1,0,0,0,0,0,1,...,0,5,0,5,5,0,0,5,0.197616,0
2622,0.639344,4,4,0,1,0,0,0,1,0,...,0,5,5,5,5,0,0,5,0.608815,0
7297,0.196721,0,12,0,1,0,0,0,1,0,...,0,5,5,5,5,5,0,5,0.326718,1
3919,0.049180,2,12,0,1,0,0,0,1,0,...,0,5,5,5,5,0,0,0,0.362433,1
2285,0.245902,0,12,1,0,0,0,0,0,1,...,0,5,5,5,5,0,5,5,0.298226,1
8265,0.459016,2,12,1,0,0,1,0,0,0,...,0,5,5,5,5,5,0,5,0.355938,1
5628,0.360656,2,12,1,0,0,0,0,1,0,...,5,5,0,5,5,5,5,0,0.360913,1
6589,0.229508,2,8,0,1,0,1,0,0,0,...,0,0,0,0,5,0,0,0,0.189689,2
5968,0.131148,3,4,0,1,0,1,0,0,0,...,0,0,0,0,5,0,0,0,0.537790,2
656,0.622951,3,4,1,0,1,0,0,0,0,...,0,0,5,0,5,0,0,0,0.314683,2
9823,0.377049,4,4,0,1,0,1,0,0,0,...,0,0,0,5,5,0,0,0,0.181344,2
3947,0.213115,0,4,1,0,0,0,1,0,0,...,5,5,0,0,5,0,0,0,0.129767,2
9685,0.311475,0,12,1,0,0,0,1,0,0,...,5,0,0,5,5,0,0,0,0.456800,3
8066,0.393443,4,8,0,1,0,0,0,0,1,...,5,0,0,5,5,0,0,0,0.287457,3
4261,0.409836,0,12,1,0,0,1,0,0,0,...,0,0,0,5,0,0,0,0,0.446284,3
4898,0.327869,0,12,0,1,1,0,0,0,0,...,5,5,0,5,5,0,0,0,0.681758,3
8555,0.409836,3,12,0,1,0,0,0,0,1,...,5,0,5,0,0,0,0,0,0.886093,3
3818,0.409836,0,4,0,1,0,0,0,0,1,...,5,0,5,5,5,0,0,0,0.357878,4
8987,0.344262,2,4,0,1,0,0,0,0,1,...,0,5,5,5,5,0,0,0,0.365835,4
276,0.180328,0,8,0,1,0,1,0,0,0,...,0,5,5,5,5,0,0,0,0.321503,4
87,0.409836,3,4,0,1,0,0,0,0,1,...,0,0,5,5,5,0,0,0,0.400559,4
1507,0.295082,1,4,0,1,0,1,0,0,0,...,0,0,5,5,5,0,0,0,0.310714,4

In [40]:
# show details of the clusters
trek_data.groupby("cluster").describe()

            Age                                                        \
          count      mean       std  min       25%       50%      75%
cluster
0        1646.0  0.313896  0.151891  0.0  0.196721  0.311475  0.42623
1        1453.0  0.324732  0.159040  0.0  0.213115  0.311475  0.42623
2        1466.0  0.323575  0.154329  0.0  0.213115  0.327869  0.42623
3        1695.0  0.327608  0.152359  0.0  0.213115  0.327869  0.42623
4        1729.0  0.327774  0.155032  0.0  0.213115  0.327869  0.42623

                  Number of Treks            ... Wednesday          BMI  \
              max           count      mean  ...       75%  max   count
cluster                                      ...
0        0.901639          1646.0  1.766100  ...       5.0  5.0  1646.0
1        0.819672          1453.0  1.822436  ...       5.0  5.0  1453.0
2        0.836066          1466.0  1.741473  ...       0.0  5.0  1466.0
3        0.852459          1695.0  1.726254  ...       0.0  5.0  1695.0
4        1.000000          1729.0  1.733950  ...       0.0  0.0  1729.0


             mean       std       min       25%       50%       75%       max
cluster
0        0.387787  0.128656  0.044307  0.298038  0.376535  0.465938  0.822776
1        0.389668  0.134169  0.000000  0.296745  0.381473  0.476106  0.976016
2        0.385738  0.130018  0.030953  0.298054  0.377495  0.461208  0.937132
3        0.389062  0.131734  0.024672  0.295114  0.378920  0.467358  0.886093
4        0.392656  0.131141  0.026102  0.297805  0.383699  0.476622  1.000000

[5 rows x 464 columns]

In [41]:
og_data = pd.read_csv("../Data/trekkers_df_with_bias_copy.csv")
# drop data where Email-ID is duplicated
og_data = og_data.drop_duplicates(subset = "Email-ID")
# reset index
og_data = og_data.reset_index(drop = True)
og_data["trekker_id"] = og_data.index
# split languages and preferred days
og_data["Languages"] = og_data["Languages"].str.replace("'","")
og_data["Preferred Days"] = og_data["Preferred Days"].str.replace("'","")

og_data["Languages"] = og_data["Languages"].apply(lambda x: (x[1:-1].split()))
og_data["Preferred Days"] = og_data["Preferred Days"].apply(lambda x: (x[1:-1].split()))

og_data

,Email-ID,Name,Height,Weight,Age,Gender,City,Locality,Languages,college,Profession,Have you gone Trekking,Preferred Days,Number of Treks,Difficulty of Trek,trekker_id
0,carminedehmel@web.de,Ilonka Pergande,163,57,23,Male,Pune,Pimpri,"[Marathi, Hindi, English]",VIT,Unemployed,Y,"[Sunday, Saturday, Monday, Friday, Wednesday, ...",4,Beginner,0
1,vera47@paertzelt.net,Bozena Radisch-Henk,142,72,22,Male,Pune,Nal Stop,"[English, Other, Marathi]",VIT,Student,Y,[Saturday],3,Intermediate,1
2,wloeffler@schweitzer.org,Konrad Fischer,156,62,38,Female,Pune,Aundh,"[Marathi, Hindi, Other]",PICT,Student,Y,"[Sunday, Saturday, Friday]",3,Beginner,2
3,henning44@gehringer.com,Gerwin Schenk B.A.,167,84,38,Female,Mumbai,Borivali,"[Marathi, Hindi, Other]",MIT-ADT,Student,N,"[Sunday, Saturday, Monday, Friday]",0,Intermediate,3
4,budigmartin@haering.de,Ing. Deborah Schäfer B.Eng.,153,57,22,Male,Pune,Pimpri,[Hindi],MIT-WPU,Student,N,"[Friday, Saturday, Monday, Sunday, Wednesday]",0,Intermediate,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982,sabri11@sontag.de,Reinhart Gehringer,162,60,31,Male,Pune,Kothrud,[Marathi],VIT,Student,Y,"[Sunday, Friday, Monday]",2,Experienced,9982
9983,sandy10@gmail.com,Univ.Prof. Heide Hornich,154,65,25,Male,Kolhapur,Kasaba Bawada,[English],PCCOE,Student,N,[Friday],0,Experienced,9983
9984,annemie12@gmail.com,Dipl.-Ing. Elwira Schottin,151,83,15,Male,Pune,Kothrud,"[Marathi, Hindi, Other]",SPPU,Student,Y,"[Saturday, Friday, Sunday, Thursday]",4,Experienced,9984
9985,helmuth80@stahr.com,Gitta Heydrich,155,79,60,Female,Pune,Kothrud,[Hindi],PCCOE,Unemployed,Y,[Saturday],1,Intermediate,9985
9986,kabusjohann@hotmail.de,Dino Sager-Bohnbach,164,59,53,Male,Pune,Aundh,"[Marathi, Hindi, Other]",MIT-ADT,Student,Y,"[Saturday, Friday, Sunday]",4,Intermediate,9986

/home/jxtin/.local/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but KMeans was fitted without feature names
  warnings.warn(

ValueError: could not convert string to float: 'brunhilde09@hotmail.de'